[report]
exclude_lines =
    pragma: no cover

    raise NotImplementedError

    # bad form, but annoying when reported
    except Exception

    # raw input is low priority and may be removed
    raw_input

    # __repr__ is usually only important in debugging
    def __repr__

    # ignore logger messages
    logger.debug
    logger.info
    logger.warning
    logger.error
    logger.critical
